[submodule "external/webview"]
	path = external/webview
	url = https://github.com/zserge/webview.git
[submodule "external/httpserver.h"]
	path = external/httpserver.h
	url = https://github.com/jeremycw/httpserver.h.git
[submodule "external/sfizz"]
	path = external/sfizz
	url = https://github.com/sfztools/sfizz.git
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
