[submodule "external/webview"]
	path = external/webview
	url = https://github.com/zserge/webview.git
[submodule "external/httpserver.h"]
	path = external/httpserver.h
	url = https://github.com/jeremycw/httpserver.h.git
