<html>
<head>
	<style type="text/css">
		.inst-list-item:hover { color: blue }
	</style>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="webaudio-controls.js"></script>
<script type="text/javascript">//<!--
		
function onBodyLoad() {
	
	var bankXmlFiles = [
		"./ui-metal-gtx/source/METAL-GTX.bank.xml",
		"./ui-standard-guitar/source/Standard Guitar.bank.xml",
		"./ui-1912/source/1912.bank.xml",
		"./ui-karoryfer-bigcat.cello/source/Karoryfer x bigcat cello.bank.xml"
	];

	results = [];
	
	bankXmlFiles.map(bankXmlFile => processBankXml(bankXmlFile, programList => {
		results.push(programList);
		if (results.length == bankXmlFiles.length)
			app = new Vue({
				el: '#app',
				data: { programList: results }
			});
	}));
}

function processBankXml(bankXmlFile, resolve, reject) {
	fetch(bankXmlFile).then(response => {		
		if (!response.ok) {
			throw new Error("Failed to retrieve " + bankXmlFile);
		}
		return response.blob();
	}).then(blob => {
		var reader = new FileReader();
		reader.onload = () => {
			processBankXmlBlob(bankXmlFile, reader.result, programList => {
				resolve(programList);
			}, reject);
		};
		reader.onerror = reject;
		reader.readAsText(blob);
	});
}

function processBankXmlBlob(bankXmlFile, bankXmlFragmentTextRaw, resolve, reject) {
	var pattern = /<\?xml[\s]+version[\s]*=\"1.0\"[\s]*\?>/;
	var bankXmlFragmentText = bankXmlFragmentTextRaw.replace(pattern, '');

	var doc = new DOMParser().parseFromString("<dummy>" + bankXmlFragmentText + "</dummy>", "application/xml");

	var ariaGuiPath = doc.documentElement.querySelector("AriaGUI").getAttribute("path");
	var ariaGuiPathAbs = new URL(ariaGuiPath, new URL(bankXmlFile, document.baseURI));
	
	fetch(ariaGuiPathAbs).then (response => {
		if (!response.ok)
			throw new Error("Failed to retrieve AriaGUI definition file.");
		return response.blob();
	}).then(blob => {
		var reader = new FileReader();
		reader.onload = () => {
			resolve(processAriaGuiBlob(bankXmlFile, doc, ariaGuiPathAbs, reader.result));
		};
		reader.onerror = reject;
		reader.readAsText(blob);
		
	});
}

function processAriaGuiBlob(bankXmlFile, doc, ariaGuiPathAbs, ariaGuiDocTextRaw) {
	var ariaGuiDoc = new DOMParser().parseFromString(ariaGuiDocTextRaw, "application/xml");
	var thumbnail = ariaGuiDoc.documentElement.querySelector("StaticImage").getAttribute("image");
	var thumbnailAbs = new URL(thumbnail, ariaGuiPathAbs);

	var programNodes = [].slice.call(doc.documentElement.getElementsByTagName("AriaProgram"));
	var programs = programNodes.map(function(pn) {
		var bankXmlURL = new URL(bankXmlFile, document.baseURI);
		var genURL = new URL ("../gen/_", bankXmlURL);
		var sourceURL = new URL(pn.getAttribute("gui").replace(".xml", ".html"), genURL);
		return {
			name : pn.getAttribute("name"),
			source: sourceURL.toString()
		};
	});
	var q = doc.documentElement.querySelector("AriaBank");
	var bankName = q.getAttribute("name");
	return {
		name: bankName,
		thumbnail: thumbnailAbs.toString(),
		programList: programs
	};
}

// `<a href="..." target="instFrame">` did not work on the embedded webview, but this simple workaround works.
function loadProgramXhtmlOnInstFrame(el) {
	var programXhtmlFile = el.getAttribute("a2w-source");
	console.log(programXhtmlFile);
	var instFrame = document.getElementById("instFrame");
	instFrame.setAttribute("src", programXhtmlFile);
}

//--></script>
</head>

<body onload="onBodyLoad()">
	<div id="app">
		<div style="width: 400px; height: 400px; overflow:scroll">
			<div v-for="pL in programList">
				<img width="360" height="120" v-bind:src="pL.thumbnail" />
				<div v-for="p in pL.programList" style="width: 350px; border-radius: 3px; border-bottom: 1px solid; margin: 3px; padding: 2px">
					<span type="button" class="inst-list-item"
					onclick="loadProgramXhtmlOnInstFrame(this)" v-bind:a2w-source="p.source" target="instFrame">{{p.name}}</span>
				</div>
			</div>
		</div>
		<iframe id="instFrame" name="instFrame" style="position:absolute; left:400px; top: 0px" width="800" height="340"></iframe>
		<webaudio-keyboard id="preview-keyboard" keys="75" width="760" height="60"
			style="position:absolute; left:420px; top: 340px"  />
	</div>
</body>
</html>
