<html>
<head>
	<style type="text/css">
		.inst-list-item:hover { color: blue }
	</style>
<script src="vue.js"></script>
<script src="webaudio-controls.js"></script>
<script src="aria2web.js"></script>
<script type="text/javascript">//<!--

async function readFileBlobAsText(filePath) {
	var res = await fetch(filePath);
	var blob = await res.blob();
	return new Promise((resolve, reject) => {
		var fr = new FileReader();  
		fr.onload = () => {
			resolve(fr.result);
		};
		fr.onerror = reject;
		fr.readAsText(blob);
	});
}

async function onBodyLoad() {
	var xslText = await readFileBlobAsText("aria2web.xsl");
	aria2web_stylesheet = new XSLTProcessor();
	var xsltDoc = new DOMParser().parseFromString(xslText, "application/xml");
	aria2web_stylesheet.importStylesheet(xsltDoc);
	onStylesheetLoaded();
}

async function onStylesheetLoaded() {
	var bankXmlFiles = [
		"./ui-metal-gtx/source/METAL-GTX.bank.xml",
		"./ui-standard-guitar/source/Standard Guitar.bank.xml",
		"./ui-1912/source/1912.bank.xml",
		"./karoryfer-bigcat.cello/source/Karoryfer x bigcat cello.bank.xml"
	];

	results = [];
	
	bankXmlFiles.map(async bankXmlFile => {
		var bankXmlContent = await readFileBlobAsText(bankXmlFile);
		var programList = await processBankXmlBlob(bankXmlFile, bankXmlContent);
		results.push(programList);
		if (results.length == bankXmlFiles.length)
			app = new Vue({
				el: '#app',
				data: { programList: results }
			});
	});
}

async function processBankXmlBlob(bankXmlFile, bankXmlFragmentTextRaw) {
	var pattern = /<\?xml[\s]+version[\s]*=\"1.0\"[\s]*\?>/;
	var bankXmlFragmentText = bankXmlFragmentTextRaw.replace(pattern, '');

	var doc = new DOMParser().parseFromString("<dummy>" + bankXmlFragmentText + "</dummy>", "application/xml");

	var ariaGuiPath = doc.documentElement.querySelector("AriaGUI").getAttribute("path");
	var ariaGuiPathAbs = new URL(ariaGuiPath, new URL(bankXmlFile, document.baseURI));
	
	var ariaGuiContent = await readFileBlobAsText(ariaGuiPathAbs);
	return await processAriaGuiBlob(bankXmlFile, doc, ariaGuiPathAbs, ariaGuiContent);
}

async function processAriaGuiBlob(bankXmlFile, doc, ariaGuiPathAbs, ariaGuiDocTextRaw) { // returns Bank{name/thumbnail/programList}
	var ariaGuiDoc = new DOMParser().parseFromString(ariaGuiDocTextRaw, "application/xml");
	var thumbnail = ariaGuiDoc.documentElement.querySelector("StaticImage").getAttribute("image");
	var thumbnailAbs = new URL(thumbnail, ariaGuiPathAbs);

	var programNodes = [].slice.call(doc.documentElement.getElementsByTagName("AriaProgram"));
	var programs = programNodes.map(function(pn) {
		var bankXmlURL = new URL(bankXmlFile, document.baseURI);
		var genURL = new URL ("../gen/_", bankXmlURL);
		var sourceURL = new URL(pn.getAttribute("gui").replace(".xml", ".html"), genURL);
		return {
			name : pn.getAttribute("name"),
			source: sourceURL.toString()
		};
	});
	var q = doc.documentElement.querySelector("AriaBank");
	var bankName = q.getAttribute("name");
	return {
		name: bankName,
		thumbnail: thumbnailAbs.toString(),
		programList: programs
	};
}

// `<a href="..." target="instFrame">` did not work on the embedded webview, but this simple workaround works.
function loadProgramXhtmlOnInstFrame(el) {

	var xhr = new XMLHttpRequest();
	var programXhtmlFile = el.getAttribute("a2w-source");
	
	xhr.addEventListener("load", () => {
		var resultDoc = new DOMParser().parseFromString(xhr.response, "application/xml");
		var baseURI = resultDoc.createElement("base");
		baseURI.setAttribute("href", programXhtmlFile);
		resultDoc.documentElement.querySelector("head").appendChild(baseURI);
		var contentDiv = resultDoc.documentElement.querySelector("body > div");

		// It is kind of ugly hack to get those standalone AriaProgram page working, by
		// replacing all those image resource paths.
		var placeholder = document.getElementById("placeholder");
		var imgs = contentDiv.getElementsByTagName("img");
		[].slice.call(imgs).map(e => {
			e.setAttribute("src", new URL(e.getAttribute("src"), programXhtmlFile).toString());
		});
		[].slice.call(contentDiv.getElementsByTagName("webaudio-knob")).map(e => {
			e.setAttribute("src", new URL(e.getAttribute("src"), programXhtmlFile).toString());
		});
		[].slice.call(contentDiv.getElementsByTagName("webaudio-switch")).map(e => {
			e.setAttribute("src", new URL(e.getAttribute("src"), programXhtmlFile).toString());
		});
		[].slice.call(contentDiv.getElementsByTagName("webaudio-slider")).map(e => {
			e.setAttribute("src", new URL(e.getAttribute("src"), programXhtmlFile).toString());
			e.setAttribute("knobsrc", new URL(e.getAttribute("knobsrc"), programXhtmlFile).toString());
		});

		placeholder.innerHTML = "";
		placeholder.innerHTML = contentDiv.innerHTML;

		setupWebAudioControlEvents();
	});
	xhr.open("GET", programXhtmlFile);
	xhr.send(null);
}

//--></script>
</head>

<body onload="onBodyLoad()">
	<div id="app">
		<div style="width: 380px; height: 400px; overflow-y:scroll">
			<div v-for="pL in programList">
				<img width="360" height="120" v-bind:src="pL.thumbnail" />
				<div v-for="p in pL.programList" style="width: 350px; border-radius: 3px; border-bottom: 1px solid; margin: 3px; padding: 2px">
					<span type="button" class="inst-list-item"
					onclick="loadProgramXhtmlOnInstFrame(this)" v-bind:a2w-source="p.source" target="instFrame">{{p.name}}</span>
				</div>
			</div>
		</div>
		<div id="placeholder" style="position:absolute; left:400px; top: 0px; width:800; height:350" />
	</div>
	<webaudio-keyboard id="preview-keyboard" keys="75" width="750" height="60"
		style="position:absolute; left:420px; top: 340px"  />
</body>
</html>
