<html>
<head>
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-store" />
	<style type="text/css">
		.inst-list-item:hover { color: blue }
	</style>
<script src="vue.js"></script>
<script src="webaudio-controls.js"></script>
<script src="aqua.js"></script>
<script src="app.js"></script>
</head>

<body onload="onBodyLoad()">
	<div id="app">
		<div id="bank-list" style="width: 100px; height: 300px; overflow-y:scroll">
			<div v-for="pL in programList">
				<img width="100" height="75" v-bind:src="pL.thumbnail" />
				<div v-for="p in pL.programList" style="width: 100px; border-radius: 3px; border-bottom: 1px solid; margin: 3px; padding: 2px">
					<span type="button" class="inst-list-item"
					onclick="selectInstrument(this)" v-bind:a2w-source="p.source" v-bind:a2w-sfz="p.sfz">{{p.name}}</span>
				</div>
			</div>
		</div>
		<div id="placeholder" style="position:absolute; left:100px; top: 0px; width:400; height:350" />
	</div>
	<webaudio-keyboard id="preview-keyboard" keys="60" width="700" height="50"
		style="position:absolute; left: 100px; top: 340px"  />
</body>
</html>
